# Python
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/app/routers/__pycache__/
backend/app/services/__pycache__/
__pycache__/
*.pyc

# Frontend
frontend/node_modules/
frontend/dist/

# Data
data/

# Misc
.env
*.db
